In [7]:
# d = {<key>:<value>,<key>:<velue>,<key>:<value>}
d = {"a":"Apple","b":"Ball","c":"Cat"}
print(d)
print(type(d))
print(len(d))

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}
<class 'dict'>
3

In [3]:
print(d["a"])

Apple

In [9]:
# Dict
# -Indexing
# -Multiple Value
# -Duplicate value
# -No Duplicate key
# -Mutable

In [8]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat',"A":"Apple"}
a

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [11]:
a = {'a': 'Apple', 'b': 'Ball', 'c': 'Cat',"A":"Apple","a":"Ant"}
a

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [14]:
data = {}
data["a"] = "Apple"
data["b"] = "Ball"
print(data)

{'a': 'Apple', 'b': 'Ball'}

In [18]:
data = {'a': 'Ant', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}
data["D"] = "Dog"
data

{'a': 'Ant', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple', 'D': 'Dog'}

In [20]:
data = {'a': 'Ant', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}
data["a"] = "apple"
data

{'a': 'apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [19]:
for i in  data:
    print(i)

a
b
c
A
D

In [21]:
for i in  data.values():
    print(i)

apple
Ball
Cat
Apple

In [22]:
for i in  data.items():
    print(i)

('a', 'apple')
('b', 'Ball')
('c', 'Cat')
('A', 'Apple')

In [23]:
x = []
for i in  data.items():
    x.append(i)
    
print(x)

[('a', 'apple'), ('b', 'Ball'), ('c', 'Cat'), ('A', 'Apple')]

In [24]:
d = [('a', 'apple'), ('b', 'Ball'), ('c', 'Cat'), ('A', 'Apple')]
dict(d)

{'a': 'apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [25]:
d = {'a': 'apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}
del d['a']
print(d)

{'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}

In [26]:
d = {'a': 'apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}
d.clear()
d

{}

In [27]:
d = {'a': 'apple', 'b': 'Ball', 'c': 'Cat', 'A': 'Apple'}
d.pop('b')
d

{'a': 'apple', 'c': 'Cat', 'A': 'Apple'}

In [28]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = int(input("Enter phone = "))
    info[name] = phone
    
print(info)

Enter n = 2
Enter name = Ram
Enter phone = 9856556543
Enter name = Shyam
Enter phone = 9808778765
{'Ram': 9856556543, 'Shyam': 9808778765}

In [30]:
# list inside dict
a = {'Ram': [9856556543,9800676543], 'Shyam': [9808778765,9800787787]}
a

{'Ram': [9856556543, 9800676543], 'Shyam': [9808778765, 9800787787]}

In [31]:
info = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    ntc_phone = int(input("Enter ntc phone = "))
    ncell_phone = int(input("Enter ncell phone = "))
    info[name] = [ntc_phone,ncell_phone]
    
print(info)

Enter n = 2
Enter name = Ram
Enter ntc phone = 9867667654
Enter ntc phone = 9867665654
Enter name = Shyam
Enter ntc phone = 9867776565
Enter ntc phone = 9867665654
{'Ram': [9867667654, 9867665654], 'Shyam': [9867776565, 9867665654]}

In [32]:
a = {}
a[('Ram','Shyam')] = 9878776765
a

{('Ram', 'Shyam'): 9878776765}

In [36]:
a[('Ram', 'Shyam')]

9878776765

In [38]:
data = {'Ram': [9867667654, 9867665654], 'Shyam': [9867776565, 9867665654]}
data["Hari"] = [9867665654,9078776765]
data

{'Ram': [9867667654, 9867665654],
 'Shyam': [9867776565, 9867665654],
 'Hari': [9867665654, 9078776765]}

In [41]:
data = {'Ram': [9867667654, 9867665654], 'Shyam': [9867776565, 9867665654]}
data['Ram'][1]

9867665654

In [42]:
data = {'Ram': [9867667654, 9867665654], 'Shyam': [9867776565, 9867665654]}
data['Ram'][1] = 9808667654
data

{'Ram': [9867667654, 9808667654], 'Shyam': [9867776565, 9867665654]}

In [43]:
info = {"Name":["Ram","Shyam"],"Age":[23,34],"Address":["Bara","Palpa"]}
info

{'Name': ['Ram', 'Shyam'], 'Age': [23, 34], 'Address': ['Bara', 'Palpa']}

In [46]:
# dict inside list
info = [{"Name":"Ram","Age":34,"Address":"Bara"},
       {"Name":"Shyam","Age":45,"Address":"Palpa"}]
info[1]

{'Name': 'Shyam', 'Age': 45, 'Address': 'Palpa'}

In [47]:
info.append({"Name":"Nabin","Age":22,"Address":"Palpa"})
info

[{'Name': 'Ram', 'Age': 34, 'Address': 'Bara'},
 {'Name': 'Shyam', 'Age': 45, 'Address': 'Palpa'},
 {'Name': 'Nabin', 'Age': 22, 'Address': 'Palpa'}]

In [49]:
info = [{'Name': 'Ram', 'Age': 34, 'Address': 'Bara'},
 {'Name': 'Shyam', 'Age': 45, 'Address': 'Palpa'},
 {'Name': 'Nabin', 'Age': 22, 'Address': 'Palpa'}]
info[0]['Name']

'Ram'

In [53]:
search = input("Enter search = ")
info = [{'Name': 'Ram', 'Age': 34, 'Address': 'Bara'},
 {'Name': 'Shyam', 'Age': 45, 'Address': 'Palpa'},
 {'Name': 'Nabin', 'Age': 22, 'Address': 'Palpa'}]
for i in info:
    if i['Name'].lower() == search.lower():
        print(i)

Enter search = ram
{'Name': 'Ram', 'Age': 34, 'Address': 'Bara'}

In [54]:
# dict inside dict
info = {1:{"Name":"Ram","Class":10},
       2:{"Name":"Shyam","Class":11}}
for i in info.items():
    print(i)

(1, {'Name': 'Ram', 'Class': 10})
(2, {'Name': 'Shyam', 'Class': 11})

In [55]:
info[3] = {"Name":"Akash","Class":9}
info

{1: {'Name': 'Ram', 'Class': 10},
 2: {'Name': 'Shyam', 'Class': 11},
 3: {'Name': 'Akash', 'Class': 9}}

In [57]:
info[1]["Name"]

'Ram'

In [58]:
data = {}
n = int(input("Enter n = "))
for i in range(1,n+1):
    name = input("Enter name = ")
    classs = int(input("Enter class = "))
    data[i] = {"Name":name,"Class":classs}
    
data

Enter n = 2
Enter name = Ram
Enter class = 78
Enter name = Shyam
Enter class = 9

{1: {'Name': 'Ram', 'Class': 78}, 2: {'Name': 'Shyam', 'Class': 9}}