In [1]:
# List
# -Indexing
# -Multiple data
# -Duplicate data
# -Ordered
# -Mutable

In [2]:
a = ["Apple","Ball","Cat","Dog"]
b = [1,2,3,4,5,6,7,8,9,0]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [8]:
a = ["Apple","Ball","Cat","Dog","Apple","Ball"]
print(len(a))
print(a[2])

6
Cat

In [10]:
a = ["Apple","Ball","Cat","Dog","Apple","Ball"]
b = ["Fish"]
c = b+a
print(c)

['Fish', 'Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball']

In [12]:
a = ["Apple","Ball","Cat","Dog","Apple","Ball"]
a[0] = "Ant"
a

['Ant', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball']

In [13]:
for i in a:
    print(i)

Ant
Ball
Cat
Dog
Apple
Ball

In [14]:
data = []
n = int(input("Enter n = "))
for i in range(n):
    x = input("Enter x = ")
    data = data+[x]
    
print(data)

Enter n = 2
Enter x = Apple
Enter x = Ball
['Apple', 'Ball']

In [16]:
data = list()
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    data.append(x)
print(data)

Enter n = 5
Enter x = 123
Enter x = 342
Enter x = 234
Enter x = 53
Enter x = 234
[123, 342, 234, 53, 234]

In [23]:
print(max(data))
print(min(data))
print(sum(data))
data.sort()
print(data)
data.reverse()
print(data)

342
53
986
[53, 123, 234, 234, 342]
[342, 234, 234, 123, 53]

In [24]:
a = ['Ant', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball']
print(type(a[0]))

<class 'str'>

In [25]:
a = ['Ant', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball']
a.sort()
print(a)

['Ant', 'Apple', 'Ball', 'Ball', 'Cat', 'Dog']

In [28]:
a = ['Ant', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball']
print(a[0:5])
print(a[0:5:2])

['Ant', 'Ball', 'Cat', 'Dog', 'Apple']
['Ant', 'Cat', 'Apple']

In [32]:
# append() insert() extend()
a = ['Ant', 'Cat', 'Apple']
a.insert(1,"Ball")
a

['Ant', 'Ball', 'Cat', 'Apple']

In [33]:
a = ['Ant', 'Cat', 'Apple']
b = ['Fish',"Cat"]
a.extend(b)
print(a)

['Ant', 'Cat', 'Apple', 'Fish', 'Cat']

In [36]:
# del remove() pop()
a = ['Ant', 'Cat', 'Apple', 'Fish', 'Cat']
del a[0]
print(a)

['Cat', 'Apple', 'Fish', 'Cat']

In [37]:
a = ['Ant', 'Cat', 'Apple', 'Fish', 'Cat']
del a[0:4]
print(a)

['Cat']

In [40]:
a = ['Ant', 'Cat', 'Apple', 'Fish', 'Cat']
a.remove('Ant')
print(a)

['Cat', 'Apple', 'Fish', 'Cat']

In [42]:
a = ['Ant', 'Cat', 'Apple', 'Fish', 'Cat']
b = a.pop(4)
print(a)
print(b)

['Ant', 'Cat', 'Apple', 'Fish']
Cat

In [43]:
a = ['Ant', 'Cat', 'Apple', 'Fish', 'Cat']
for i in a:
    if i == 'Cat':
        a.remove(i)
        
print(a)

['Ant', 'Apple', 'Fish']

In [45]:
a = ['Ant', 'Cat', 'Apple', 'Fish', 'Cat']
a.index('Apple')

2

In [49]:
a = ['Ant', 'Cat', 'Apple', 'Fish', 'Cat']
l = len(a)
for i in range(l):
    print(a[i])

Ant
Cat
Apple
Fish
Cat

In [50]:
a = ['Ant', 'Cat', 'Apple', 'Fish', 'Cat']
l = len(a)
for i in range(l):
    if a[i] == 'Cat':
        print(i)

1
4

In [44]:
a = ['Ant', 'Cat', 'Apple', 'Fish', 'Cat']
b = a[0:3]
c = a[3:]
print(b)
print(c)

['Ant', 'Cat', 'Apple']
['Fish', 'Cat']

In [3]:
# list inside list (Nested list)
a = [[1,2,3],[4,5,6],[7,8,9]]
print(type(a))
len(a)

<class 'list'>

3

In [6]:
a = [[1,2,3],[4,5,6],[7,8,9]]
print(a[2])

[7, 8, 9]

In [8]:
a = [[1,2,3],[4,5,6],[7,8,9]]
a[0][0]

1

In [11]:
a = [["Ram",34,"Kathmandu"],
    ["Shyam",23,"Bhaktapur"],
    ["Sita",45,"Palpa"]]
print(a[0])
print(a[0][0])

['Ram', 34, 'Kathmandu']
Ram

In [12]:
info = []
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    data = [name,age,add]
    info.append(data)
    
print(info)

Enter n = 2
Enter name = Ram
Enter age = 34
Enter address = Kathmandu
Enter name = Shyam
Enter age = 45
Enter address = Bara
[['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bara']]

In [14]:
search = input("Enter name = ")
for i in info:
    if search in i:
        print(i)

Enter name = Ram
['Ram', 34, 'Kathmandu']

In [16]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bara']]
a[0][0] = "Rama"
a

[['Rama', 34, 'Kathmandu'], ['Shyam', 45, 'Bara']]

In [17]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bara']]
a[0] = ['Rama',56,'Palpa']
a

[['Rama', 56, 'Palpa'], ['Shyam', 45, 'Bara']]

In [18]:
a = [['Ram', 34, 'Kathmandu'], ['Shyam', 45, 'Bara']]
del a[0]
a

[['Shyam', 45, 'Bara']]

In [19]:
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    data = f"{name} {price} {quantity} {total}\n"
    bill = bill +data
print("Name","Price","Quantity","Total")
print(bill)

Enter n = 2
Enter name = Coke
Enter price = 100
Enter quantity = 3
Enter name = Momo
Enter price = 100
Enter quantity = 2
Name Price Quantity Total
Coke 100 3 300
Momo 100 2 200

In [27]:
data = []
x = bill.split('\n')[0:-1]
for i in x:
    y = i.split()
    data.append(y)
    
data

[['Coke', '100', '3', '300'], ['Momo', '100', '2', '200']]

In [31]:
x = bill.split('\n')[0:-1]
x

['Coke 100 3 300', 'Momo 100 2 200']

In [30]:
bill

'Coke 100 3 300\nMomo 100 2 200\n'