In [1]:
a = "Hello World"
print(type(a))

<class 'str'>

In [2]:
a = "Hello "
b = "World"
c = a+b
print(c)

Hello World

In [4]:
a = "Hello World\n"
print(a*2)

Hello World
Hello World

In [8]:
a = "Hello World"
a[6]

'W'

In [9]:
a = "Hello World"
a[-1]

'd'

In [11]:
a = "Hello World"
print(a[0:5])
print(a[5:])

Hello
 World

In [13]:
a = "Hello World"
a[0:12:2]

'HloWrd'

In [25]:
a = "Hello World"

l = len(a)
print(a[l::-1])

dlroW olleH

In [ ]:
a = "Hello World"
b = a[0:5]
c = a[5:]

In [ ]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")
info = "Hello World I am " + name + " I am " + str(age) + " I am from "+add
print(info)

In [30]:
#string formatting
a = "Hello "
b = "World"
d = 10
c = f"{a} {b} {d}"
print(c)

Hello  World 10

In [31]:
name = input("Enter name = ")
age = int(input("Enter age = "))
add = input("Enter address = ")
info = f"Hello World I am {name} I am {age} I am from {add}"
print(info)

Enter name = Ram
Enter age = 34
Enter address = Kathmandu
Hello World I am Ram I am 34 I am from Kathmandu

In [33]:
bill = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    price = int(input("Enter price = "))
    quantity = int(input("Enter quantity = "))
    total = price*quantity
    data = f"{name} {price} {quantity} {total}\n"
    bill = bill +data
print("Name","Price","Quantity","Total")
print(bill)

Enter n = 2
Name Price Quantity Total
Enter name = Momo
Enter price = 100
Enter quantity = 1
Enter name = Coke
Enter price = 50
Enter quantity = 1
Momo 100 1 100
Coke 50 1 50

In [40]:
#Seraching
a = "Ram Shyam Gita Sita Nabin Sabin Nita Ram"
name = input("Enter name = ")
if name in a:
    c = a.count(name)
    print("Yes",c)
else:
    print("No")

Enter name = ram
No

In [41]:
a = "Ram Shyam Gita Sita Nabin Sabin Nita Ram"
a.upper()

'RAM SHYAM GITA SITA NABIN SABIN NITA RAM'

In [42]:
a = "Ram Shyam Gita Sita Nabin Sabin Nita Ram"
a.lower()

'ram shyam gita sita nabin sabin nita ram'

In [50]:
#Seraching
a = "Ram Shyam Gita Sita Nabin Sabin Nita Ram".lower()
name = input("Enter name = ").lower()
if name in a:
    c = a.count(name)
    print("Yes",c)
else:
    print("No")

Enter name = ram
Yes 2

In [53]:
#Update replace
# String->Imutable
a = "Ram Shyam Gita Sita Nabin Sabin Nita Ram"
b = a.replace("Ram","Rama")
print(b)
print(a)

Rama Shyam Gita Sita Nabin Sabin Nita Rama
Ram Shyam Gita Sita Nabin Sabin Nita Ram

In [54]:
a = "Ram Shyam Gita Sita Nabin Sabin Nita Ram"
b = a.replace("Ram","")
print(b)

 Shyam Gita Sita Nabin Sabin Nita

In [55]:
a = "Ram Shyam Gita Sita Nabin Sabin Nita Ram"
a.split()

['Ram', 'Shyam', 'Gita', 'Sita', 'Nabin', 'Sabin', 'Nita', 'Ram']

In [ ]:
# WAP to create result management system of a class